<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Notch | A WordPress project</title>
        <link rel="stylesheet" href="{{ theme.link ~ '/inc/css/app.css' }}">
    </head>
    <body class="{{ body_class }}">
        {% block content %}{% endblock %}
        <script type="text/javascript" src="{{ theme.link ~ '/inc/js/bundle.js' }}"></script>
    </body>
</html>
