{% extends "base.twig" %}

{% block content %}

<section class="full container vh-100">
    <div class="table full height-100">
        <div class="table-cell valign-middle align-center">
            <h1>Notch</h1>
            <p>A WordPress project.</p>
        </div>
    </div>
</section>

{% endblock %}
