<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Notch</title>
        <script type="text/javascript" src="/wp-content/themes/notch/inc/js/bundle.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
